<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <style>
        /** { border: 1px solid red !important; }*/
    </style>

</head>
<body>

<div th:replace="base :: navbar"></div>
<br>
<br>

<h1> THIS IS THE INDEX PAGE</h1>

<a href="/login">Go to: Login</a> <br>
<a href="/secure">Go to: My Account</a> <br>
<a href="/addMessage">Go to: Add Message</a> <br>

<table class="table table-hover table-borderless">
    <thead>
    <tr>
        <th>Title</th>
        <th>Posted By</th>
        <th>Content</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="message : ${messages}">
        <td th:text="${message.title}"></td>
        <td th:inline="text">[[${message.user.firstName}]] [[${message.user.lastName}]] on [[${message.date}]]</td>
        <td th:text="${message.content}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${message.id})}"><button type="button" class="btn btn-sm btn-outline-primary">Update</button></a>
            <a th:href="@{/detail/{id}(id=${message.id})}"><button type="button" class="btn btn-sm btn-outline-info">Details</button></a>
            <a th:href="@{/delete/{id}(id=${message.id})}"><button type="button" class="btn btn-sm btn-outline-danger">Delete</button></a>
        </td>
    </tr>
    </tbody>
</table>





<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>