<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+SC|Caveat|Cinzel|Cinzel+Decorative|Fredericka+the+Great|Julius+Sans+One|Kaushan+Script|Lato|Merienda|Patua+One|Spectral+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alice&display=swap" rel="stylesheet">

    <style>
        /** { border: 1px solid red !important; }*/
    </style>

</head>
<body class="bg-index">

<div th:replace="base :: navbar"></div>
<br>
<br>

<div class="container">

    <h1 class="display-3" style="text-align: center; font-family: 'Kaushan Script', cursive;">"Appa <small>Yip! Yip!</small>"</h1>

    <div class="row">
<!--    <div class="col-1" ></div>-->
    <div class="col" >
        <br><br>

        <table class="table table-hover table-borderless table-striped bg-faded">
            <thead>
            <tr style="font-family: 'Spectral SC', serif;">
                <td></td>
                <td>Title</td>
                <td>Posted By</td>
                <td>Content</td>
            </tr>
            </thead>

            <tbody>
            <tr th:each="message : ${messages}">
                <td><img th:src="${message.image}" class="img-thumbnail"></td>
                <td class="text-nowrap" th:inline="text"><strong>[[${message.title}]]</strong></td>
                <td class="text-nowrap" th:inline="text">[[${message.user.firstName}]] [[${message.user.lastName}]] <br>
                    <span style="font-style: italic" class="text-muted">on [[${message.date}]]</span></td>

                <td th:text="${message.content}"></td>
                <td>
                    <div th:if="${message.user.getId()} == ${message_user_id}">
                        <a th:href="@{/detail/{id}(id=${message.id})}"><button type="button" class="btn btn-sm btn-outline-primary" style="margin-bottom: 10px" >Details</button></a>
                        <a th:href="@{/update/{id}(id=${message.id})}"><button type="button" class="btn btn-sm btn-outline-warning" style="margin-bottom: 10px" >Update</button></a>
                        <a th:href="@{/delete/{id}(id=${message.id})}"><button type="button" class="btn btn-sm btn-outline-danger" >Delete</button></a>
                    </div>
                    <div th:if="${message.user.getId()} != ${message_user_id}">
                        <a th:href="@{/detail/{id}(id=${message.id})}"><button type="button" class="btn btn-sm btn-outline-primary" >Details</button></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
<!--    <div class="col-1" ></div>-->
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>