<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        /** { border: 1px solid red !important; }*/
    </style>

</head>
<body class="bg-index">

<div th:replace="base :: navbar"></div>
<br>
<br>

<div class="container">
    <h1 class="display-1">Bullhorn Messenger</h1>
</div>

<div class="container">

    <div class="row">
<!--    <div class="col-1" ></div>-->
    <div class="col" >

        <table class="table table-hover table-borderless">
            <thead>
            <tr>
                <th>Title</th>
                <th>Posted By</th>
                <th>Content</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="message : ${messages}">
                <td th:text="${message.title}"></td>
                <td th:inline="text">[[${message.user.firstName}]] [[${message.user.lastName}]] on [[${message.date}]]</td>
                <td th:text="${message.content}"></td>
                <td>
                    <div th:if="${message.user.getId()} == ${message_user_id}">
                        <a th:href="@{/detail/{id}(id=${message.id})}"><button type="button" class="btn btn-sm btn-primary" >Details</button></a>
                        <a th:href="@{/update/{id}(id=${message.id})}"><button type="button" class="btn btn-sm btn-warning" >Update</button></a>
                        <a th:href="@{/delete/{id}(id=${message.id})}"><button type="button" class="btn btn-sm btn-danger" >Delete</button></a>
                    </div>
                    <div th:if="${message.user.getId()} != ${message_user_id}">
                        <a th:href="@{/detail/{id}(id=${message.id})}"><button type="button" class="btn btn-sm btn-primary" >Details</button></a>
                    </div>
                    <!--            <a th:href="@{/update/{id}(id=${message.id})}"><button type="button" class="btn btn-sm btn-outline-primary">Update</button></a>-->
                    <!--            <a th:href="@{/detail/{id}(id=${message.id})}"><button type="button" class="btn btn-sm btn-outline-info">Details</button></a>-->
                    <!--            <a th:href="@{/delete/{id}(id=${message.id})}"><button type="button" class="btn btn-sm btn-outline-danger">Delete</button></a>-->
                </td>
            </tr>
            </tbody>
        </table>

    </div>
<!--    <div class="col-1" ></div>-->
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>